<section class="usp__section">
  <div class="row">
    <div class="large-6 medium-12 columns">
      <div class="row">
        <div class="medium-6 columns usp__content"><img src="img/icon.png" class="usp__icon usp__icon--fixed">
          <div class="usp__title usp__title--fw">
            <h3>Heading goes here</h3>
          </div>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
        </div>
        <div class="medium-6 columns usp__content"><img src="img/icon.png" class="usp__icon usp__icon--fixed">
          <div class="usp__title usp__title--fw">
            <h3>Heading goes here</h3>
          </div>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
        </div>
      </div>
    </div>
    <div class="large-6 medium-12 columns">
      <div class="pullout-panel">
        <div class="pullout-panel__heading">
          <h2>Heading goes here</h2>
        </div>
        <p class="pullout-panel__content">Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
      </div>
    </div>
  </div>
</section>
