<a name="courses"></a>
<section class="courses__section">

  <div class="row">
    <div class="medium-6 columns">
      <article class="course course--short">
        <img class="course__img" src="/web/multimediafiles/cme-img-6.jpg" alt="MSc Project Management image" />
        <div class="course__content">
          <div class="course__header">
            <h3>MSc Project Management</h3>
          </div>
          <p>Focus on the strategic management of projects, programmes and portfolios, and become a project leader in construction.</p>
          <a href="https://www.reading.ac.uk/CME/pg-taught/cme-pgt-pm.aspx" class="btn grey">Find out more</a>
        </div>
      </article>
    </div>
    <div class="medium-6 columns">
      <article class="course course--short">
        <img class="course__img" src="/web/multimediafiles/cme-img-7.jpg" alt="MSc Renewable Energy: Technology and Sustainability image" />
        <div class="course__content">
          <div class="course__header">
            <h3>MSc Renewable Energy: Technology and Sustainability</h3>
          </div>
          <p>Gain a robust understanding in renewable energy and sustainable technologies, as well as carbon management and energy use in the built environment.</p>
          <a href="https://www.reading.ac.uk/CME/pg-taught/cme-pgt-re.aspx" class="btn grey">Find out more</a>
        </div>
      </article>

    </div>
  </div>

  <div class="row">
    <div class="medium-6 columns">

      <article class="course course--medium">
        <img class="course__img" src="/web/multimediafiles/cme-img-5.jpg" alt="MSc Information Management for Design, Construction and Operation image" />
        <div class="course__content">
          <div class="course__header">
            <h3>MSc Information Management for Design, Construction and Operation</h3>
          </div>
          <p>Gain specialist expertise around the implementation and use of digital technologies in the construction sector – BIM and beyond.</p>
          <a href="https://www.reading.ac.uk/CME/pg-taught/cme-pgt-im.aspx" class="btn grey">Find out more</a>
        </div>
      </article>
    </div>
    <div class="medium-6 columns">
      <article class="course course--medium">
        <img class="course__img" src="/web/multimediafiles/cme-img-2.jpg" alt="MSc Construction in Emerging Economies image" />
        <div class="course__content">
          <div class="course__header">
            <h3>MSc Construction in Emerging Economies</h3>
          </div>
          <p>Gain specialist expertise of construction in the unique context of emerging economies undergoing rapid urbanisation.</p>
          <a href="https://www.reading.ac.uk/CME/pg-taught/cme-pgt-ee.aspx" class="btn grey">Find out more</a>
        </div>
      </article>

    </div>
  </div>

  <div class="row">
    <div class="medium-6 columns">

      <article class="course course--short">
        <img class="course__img" src="/web/multimediafiles/cme-img-4.jpg" alt="MSc Design and Management of Sustainable Built Environments image" />
        <div class="course__content">
          <div class="course__header">
            <h3>MSc Design and Management of Sustainable Built Environments</h3>
          </div>
          <p>Benefit from an advanced course offering an interdisciplinary approach to the design and operation of sustainable buildings and cities.</p>
          <a href="https://www.reading.ac.uk/CME/pg-taught/cme-pgt-dmsbe.aspx" class="btn grey">Find out more</a>
        </div>
      </article>
    </div>
    <div class="medium-6 columns">
      <article class="course course--short">
        <img class="course__img" src="/web/multimediafiles/cme-img-3.jpg" alt="MSc Construction Management image" />
        <div class="course__content">
          <div class="course__header">
            <h3>MSc Construction Management</h3>
          </div>
          <p>Develop your skills in the management of the construction firm, including finance, organisation, procurement, ICT and the expectations of clients, developers and investors in projects.</p>
          <a href="https://www.reading.ac.uk/CME/pg-taught/cme-pgt-cm.aspx" class="btn grey">Find out more</a>
        </div>
      </article>

    </div>
  </div>

  <div class="row">
    <div class="medium-6 columns">

      <article class="course course--short">
        <img class="course__img" src="/web/multimediafiles/cme-img-1.jpg" alt="MSc Construction Cost Management image" />
        <div class="course__content">
          <div class="course__header">
            <h3>MSc Construction Cost Management</h3>
          </div>
          <p>Acquire the tools and techniques of financial and cost management from inception of a project, through to design and construction.</p>
          <a href="https://www.reading.ac.uk/CME/pg-taught/cme-pgt-cc.aspx" class="btn grey">Find out more</a>
        </div>
      </article>
    </div>
    <div class="medium-6 columns">
      <article class="end-cta">
        <h2>Are you ready?</h2>
        <a href="mailto:postgrad@cme.reading.ac.uk?bcc=student.recruitment@reading.ac.uk" class="btn white">Enquire now</a>
        <p>+44 (0) 118 378 8201</p>
        <h4>Looking for postgraduate research opportunities?</h4>
        <p>Come to Reading for your PhD or professional doctorate and join a talented and diverse community of fellow researchers working to improve lives across the globe.</p>
        <a href="http://www.reading.ac.uk/ready-to-study/study/postgraduate/postgraduate-research.aspx" class="btn white">Find out more</a>
      </article>

    </div>
  </div>

</section>
