<a name="courses"></a>
<section class="courses__section">
  <div class="row">
    <div class="medium-6 columns">
      <article class="course">
        <img class="course__img" src="img/img.jpg" alt="" />
        <div class="course__content">
          <div class="course__header">
            <h3>Course header</h3>
          </div>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum.</p>
          <a href="foundation-courses.html" class="btn grey">Find out more</a>
        </div>
      </article>
    </div>
    <div class="medium-6 columns">
      <article class="course">
        <img class="course__img" src="img/img.jpg" alt="" />
        <div class="course__content">
          <div class="course__header">
            <h3>Course header</h3>
          </div>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum.</p>
          <a href="business-and-finance.html" class="btn grey">Find out more</a>
        </div>
      </article>
    </div>
    <div class="medium-6 columns">
      <article class="course">
        <img class="course__img" src="img/img.jpg" alt="" />
        <div class="course__content">
          <div class="course__header">
            <h3>Course header</h3>
          </div>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum.</p>
          <a href="property-and-construction.html" class="btn grey">Find out more</a>
        </div>
      </article>
    </div>
    <div class="medium-6 columns">
      <article class="course">
        <img class="course__img" src="img/img.jpg" alt="" />
        <div class="course__content">
          <div class="course__header">
            <h3>Course header</h3>
          </div>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum.</p>
          <a href="sciences.html" class="btn grey">Find out more</a>
        </div>
      </article>
    </div>
  </div>
</section>
