<footer class="footer">
  <div class="row">
    <div class="medium-6 columns">
      <p>&copy; 2016 University of Reading</p>
      <p>Visit the <a href="http://www.reading.ac.uk">University of Reading website</a></p>
    </div>
    <div class="medium-6 columns">
      <ul class="social-media">
        <li><a class="facebook" href="https://www.facebook.com/{{ site.facebook_username }}"></a></li>
        <li><a class="twitter" href="https://twitter.com/{{ site.twitter_username }}"></a></li>
        <li><a class="youtube" href="https://www.youtube.com/{{ site.youtube_username }}"></a></li>
        <li><a class="instagram" href="https://www.instagram.com/{{ site.instagram_username }}"></a></li>
      </ul>
    </div>
  </div>
</footer>
