<header class="hero">
  <div class="row">
    <div class="top-bar">
      <div class="logo"><a href="http://reading.ac.uk"><img src="/web/multimediafiles/cme-device.svg"></a></div>
    </div>
  </div>
  <div class="row">
    <div class="hero__text">
      <h1 class="hero__title">Rise</h1>
      <h1 class="hero__sub-title">to the top</h1>
      <div class="hero__cta"><a href="mailto:postgrad@cme.reading.ac.uk?bcc=student.recruitment@reading.ac.uk" class="btn red">Enquire Now</a></div>
    </div>
  </div>
</header>
