<header class="hero">
  <div class="row">
    <div class="top-bar">
      <div class="logo"><img src="img/device.svg"></div>
      <!--
      <nav class="nav">
        <ul><a href="index.html">
            <li>Home</li></a>
          <li class="course-btn">courses</li>
        </ul>
      </nav>-->
    </div>
    <!-- <div class="sub-nav">
      <div class="arrow"></div>
      <ul>
        <li><a href="foundation-courses.html">Foundation Programmes</a></li>
        <li><a href="business-and-finance.html">Business and Finance</a></li>
        <li><a href="property-and-construction.html">Property and Construction</a></li>
        <li><a href="sciences.html">Sciences</a></li>
      </ul>
    </div>
    <div class="menu"><img src="img/menu.svg"></div>-->
  </div>
  <div class="row">
    <div class="hero__text">
      <div class="hero__title">
        <h1>Are you Ready</h1>
      </div>
      <div class="hero__sub-title">
        <h1>to join the top 1%</h1>
      </div>
      <div class="hero__cta"><a href="#courses" class="btn red">Find out more</a></div>
    </div>
  </div>
</header>
