<header class="hero">
  <div class="row">
    <div class="top-bar">
      <div class="logo"><a href="http://reading.ac.uk"><img src="img/device.svg"></a></div>
      <!--
      <nav class="nav">
        <ul><a href="index.html">
            <li>Home</li></a>
          <li class="course-btn">courses</li>
        </ul>
      </nav>-->
    </div>
    <!-- <div class="sub-nav">
      <div class="arrow"></div>
      <ul>
        <li><a href="foundation-courses.html">Foundation Programmes</a></li>
        <li><a href="business-and-finance.html">Business and Finance</a></li>
        <li><a href="property-and-construction.html">Property and Construction</a></li>
        <li><a href="sciences.html">Sciences</a></li>
      </ul>
    </div>
    <div class="menu"><img src="img/menu.svg"></div>-->
  </div>
  <div class="row">
    <div class="hero__text">
      <h1 class="hero__title">Rise</h1>
      <h1 class="hero__sub-title">to the top</h1>
      <div class="hero__cta"><a href="mailto:postgrad@cme.reading.ac.uk" class="btn red">Enquire Now</a></div>
    </div>
  </div>
</header>
