<section class="logos__container">
  <div class="logos">
    <div class="row">
      <div class="large-12 columns">
        <p>All of our master's courses are accredited by professional bodies.</p>
      </div>
    </div>
    <ul>
      <li><img src="/web/multimediafiles/cme-energy.png" alt=""></li>
      <li><img src="/web/multimediafiles/cme-rics.png" alt=""></li>
      <li><img class="logos--portrait" src="/web/multimediafiles/cme-cibse.png" alt=""></li>
      <li><img src="/web/multimediafiles/cme-ciob.png" alt=""></li>
    </ul>
  </div>
</section>
