<section class="logos__container">
  <div class="logos">
    <div class="row">
      <div class="large-12 columns">
        <p>All of our master's courses are accredited by professional bodies.</p>
      </div>
    </div>
    <ul>
      <li><img src="img/logos/energy.png" alt=""></li>
      <li><img src="img/logos/rics.png" alt=""></li>
      <li><img class="logos--portrait" src="img/logos/cibse.png" alt=""></li>
      <li><img src="img/logos/ciob.png" alt=""></li>
    </ul>
  </div>
</section>
