<div class="row">
  <div class="large-12 columns">
    <div class="usp__header">
      <h1>Accelerate your professional career through our innovative master’s programme </h1>
    </div>
  </div>
</div>

<section class="usp__section">
  <div class="row">
    <div class="large-4 columns usp__content"><img src="/web/multimediafiles/cme-icon-flex.png" class="usp__icon usp__icon--fixed">
      <div class="usp__title">
        <h3>Flexible modular courses</h3>
      </div>
      <p>Learn through residential weeks taught on campus and supported through our online learning environment. Choose to study over two years to fit around your work commitments, applying what you learn immediately, or more intensively over one year.</p>
    </div>
    <div class="large-4 columns usp__content"><img src="/web/multimediafiles/cme-icon-multi.png" class="usp__icon usp__icon--fixed">
      <div class="usp__title">
        <h3>Multidisciplinary approach</h3>
      </div>
      <p>Develop well-rounded knowledge through our multidisciplinary approach to the built environment. Our staff have extensive experience in the sector and are actively involved in research and consultancy. We have strong networks spanning industry, government and communities across the globe.</p>
    </div>
    <div class="large-4 columns usp__content"><img src="/web/multimediafiles/cme-icon-prof.png" class="usp__icon usp__icon--fixed">
      <div class="usp__title">
        <h3>Professional accreditation</h3>
      </div>
      <p>Be confident that your learning is professionally relevant and top quality. All of our master's courses are accredited by professional bodies and we have a track record of active engagement with the professions.</p>
    </div>
  </div>
</section>
