// HERO

.top-bar {
  background-color: $red;
  margin: 1.5em 0 0 0;
  transition: all 0.3s ease 0s;
  @include clearfix;
}

.logo {
  margin: 15px;
  width: 116px;
  float: left;
  padding: 0;
}

.hero {
  background-color: $dark-grey;
  background-image: url(../web/multimediafiles/cme-hero-img.jpg);
  background-size: cover;
  background-position: left;
  padding: 0 0 2em 0;
  margin: 0 0 3em 0;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: inset 0px -111px 101px -72px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px -111px 101px -72px rgba(0,0,0,0.5);
  box-shadow: inset 0px -111px 101px -72px rgba(0,0,0,0.5);
}

.hero__text {
  margin: 2em 0 0em 0;
  max-width: 1024px;
  position: relative;
  padding: 0 15px;
}

.hero__title {
  font-size: 12em;
  font-weight: 800;
  color: $white;
  margin: 0;
  margin-left: -10px;
}

.hero__sub-title {
  font-size: 4.5em;
  font-weight: 400;
  color: $white;
  line-height: 0.3;
}

.hero__cta {
  margin: 4em 0 0 0;
}

@media (max-width: 1000px) {
  .top-bar {
    margin: 0 0 0 0;
  }
}

@media (max-width: 1024px) {
  .hero {
    margin: 0 0 1.5em 0;
  }
}

@media (max-width: 720px) {
  .hero__title {
    font-size: 10em;
  }

  .hero__sub-title {
    font-size: 3.75em;
  }
}

@media (max-width: 420px) {
  .hero__title {
    font-size: 8em;
  }

  .hero__sub-title {
    font-size: 3em;
  }
}
