body {
  background-color: #d8d8d8;
  background-image: url(../web/multimediafiles/cme-bg.png);
  background-repeat: repeat;
  background-attachment: fixed;
}

::selection {
  background-color: $red;
  color: $white;
}

.wrapper {
  background-color: $light-grey;
  margin: 0 auto;
  max-width: 1440px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}


// Video Embed

.video__embed {
  max-width: 1024px;
  margin: auto;
  position: relative;
}

.video__container {
  position: absolute;
  width: 380px;
  top: -160px;
  right: 0px;
  z-index: 4;
  box-sizing: content-box;
}

.video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

@media (max-width: 1024px) {
  .video__container {
    position: relative;
    top: 0;
    right: 0;
    border: 0;
    width: 100% !important;
    height: auto !important;
  }

  .video {
    margin: 1.5em 0;
  }

  .video iframe {
    height: 100%;
  }
}


// USP Panel

.usp__header {
  margin: 0 0 3em 10px;
}

.usp__header h1 {
  background-color: $red;
  display: inline;
  color: $white;
  font-size: 2.5em;
  box-decoration-break: clone;
  -webkit-box-shadow: 10px 0px 0px 0px $red, -10px 0px 0px 0px $red;
  -moz-box-shadow: 10px 0px 0px 0px $red, -10px 0px 0px 0px $red;
  box-shadow: 10px 0px 0px 0px $red, -10px 0px 0px 0px $red;
}

.usp__section {
  position: relative;
  background-color: $white;
  max-width: 1024px;
  margin: 0 auto 3.25em auto;
  padding: 25px 0 0 0;
}

.usp__section--icon-fixed {
  padding: 75px 0 0 0;
}

.usp__title {
  margin: 0 20px 1.5em 78px;
}

.usp__title--fw {
  margin: 0 0 1.5em 78px;
}

.usp__title h3 {
  background-color: $red;
  display: inline;
  color: $white;
  box-decoration-break: clone;
  -webkit-box-shadow: 10px 0px 0px 0px $red, -10px 0px 0px 0px $red;
  -moz-box-shadow: 10px 0px 0px 0px $red, -10px 0px 0px 0px $red;
  box-shadow: 10px 0px 0px 0px $red, -10px 0px 0px 0px $red;
  position: relative;
  &:after{
    position:absolute;
    content: " ";
    width:1px;
    left:-1px;
    top:0;
    height:100%;
    background: $red;
    z-index: 1;
    overflow: hidden;
  }
}

.usp__icon {
  width: 68px;
  padding: 10px;
  background-color: $black;
  margin-bottom: 1.5em;
}

.usp__icon--fixed {
  position: absolute;
  top: 19px;
}

@media (max-width: 720px) {
  .usp__header {
    margin: 0 0 1em 10px;
  }

  .usp__header h1 {
    font-size: 2em;
  }

}

// Pullout panel

.pullout-panel {
  background-color: $red;
  padding: 25px 25px 10px 25px;
  margin: 0 0 25px 0;
  box-sizing: border-box;
}

.pullout-panel__heading {
  margin: 0.25em 0 1em 0.5em;
}

.pullout-panel__heading h2 {
  background-color: $black;
  color: $white;
  box-decoration-break: clone;
  -webkit-box-shadow: 10px 0px 0px 0px $black, -10px 0px 0px 0px $black;
  -moz-box-shadow: 10px 0px 0px 0px $black, -10px 0px 0px 0px $black;
  box-shadow: 10px 0px 0px 0px $black, -10px 0px 0px 0px $black;
  display: inline;
  position: relative;
  &:after{
    position:absolute;
    content: " ";
    width:1px;
    left:-1px;
    top:0;
    height:100%;
    background: $black;
    z-index: 1;
    overflow: hidden;
  }
}

.pullout-panel__content {
  color: $white;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .usp__section {
    padding: 30px 0 0 0;
    background-color: $light-grey;
    margin: 0 0 1.5em 0;
  }

  .usp__content{
    margin: 0 0 1.5em 0;
  }

  .usp__icon {
    display: none;
  }

  .usp__title {
    margin: 0 0 1em 10px;
  }

  .language-support {
    margin: 0px;
  }
}


// COURSE SELECTION SECTION

.course {
  background-color: $white;
}

.course--short {
  min-height: 535px;
}

.course--medium {
  min-height: 615px;
}

.course--tall {
  min-height: 0px;
}

.courses__section {
  margin-bottom: 1.25em;
}

.course__img {
  width: 100%;
}

.course__content {
  background-color: $white;
  margin: 0 0 1.875rem 0;
  padding: 1.25em 1.25em 0.25em 1.25em;
}

.course__header {
  margin-bottom: 1em;
}

@media (max-width: 1024px) {
  .courses__section {
    margin-bottom: 1.5em;
  }
}

// End CTA

.end-cta {
  background-color: $red;
  padding: 1.25em 1.25em 0.25em 1.25em;
  min-height: 535px;
}

.end-cta h2, .end-cta p, .end-cta h4 {
  color: $white;
}

.end-cta p {
  font-weight: 400;
}

.end-cta ul {
  font-weight: 400;
  font-size: 1.125em;
  color: $white;
  margin: -0.5em 0 2.4em;
}

.end-cta ul li a {
  color: $white;
  &:hover {
    opacity: 0.75;
  }
}

.end-cta h4 {
  text-transform: none;
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.3;
  margin: 0 0 0.5em;
}

@media (max-width: 640px) {
  .course, .end-cta {
    min-height: 100%;
  }

}

// Accreditation logos

.logos__container {
  background-color: $red;
  padding: 60px 0;
  background-image: url(../web/multimediafiles/cme-hero-img-2.png);
  background-repeat: repeat;
  background-position: bottom left;
  -webkit-box-shadow: inset 0px 200px 216px -92px rgba(0,0,0,0.42);
  -moz-box-shadow: inset 0px 200px 216px -92px rgba(0,0,0,0.42);
  box-shadow: inset 0px 200px 216px -92px rgba(0,0,0,0.42);
}

.logos {
  max-width: 1000px;
  margin: auto;
}

.logos p {
  color: $white;
  font-weight: 400;
}

.logos ul {
  //margin: 0 auto 0;
  //text-align: center;
}

.logos ul li {
  display: inline-block;
  margin: 1em 1em;
  vertical-align: middle;
}

.logos img {
  max-width: 180px;
}

img.logos--portrait {
  max-width: 90px;
}

@media (max-width: 420px) {
  .logos ul {
    text-align: left;
  }
}
