<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="shortcut icon" href="/web/multimediafiles/favicon/cme-favicon.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="/web/multimediafiles/favicon/cme-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/web/multimediafiles/favicon/cme-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/web/multimediafiles/favicon/cme-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/web/multimediafiles/favicon/cme-180.png">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <!--if IE link(rel='stylesheet', type='text/css', href='css/ie-screen.css')-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- UoR font hosting -->
    <script type="text/javascript" src="http://fast.fonts.net/jsapi/909d4c94-a678-43a8-8b47-e96df7a9882b.js"></script>
    <!-- Dev env font hosting -->
    <script src="https://use.typekit.net/evf3zix.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>

  <body>
    {% include google_tag_manager.html %}

    <div class="wrapper">
      <!-- HEADER -->
      {% include header.html %}

      <!-- USP BLOCK -->
      {% include top_usp_block.html %}

      <!-- COURSES BLOCK -->
      {% include courses_block.html %}

      {% include logos.html %}

      <!-- FOOTER -->
      {% include footer.html %}

    </div>

    {% include nav_scripts.html %}

  </body>
</html>
